@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-creme-50: #FFF8E6;
  --color-creme-100: #FFF0C4;
  --color-creme-200: #FFE8A3;
  --color-creme-300: #FFD666;
  --color-creme-900: #E6C256;

  --color-maroon-500: #8C1007;
  --color-maroon-600: #660B05;
  --color-maroon-700: #520904;
  --color-maroon-800: #460804;
  --color-maroon-900: #3E0703;

  --color-gold-400: #E6C256;
  --color-gold-500: #D4AF37;
  --color-gold-600: #B59428;
}

body {
  @apply bg-creme-100 text-maroon-900 font-sans selection:bg-maroon-500 selection:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}